<br><br><div class="flight-offers">
    <div class="flight-offer">
      <img src="assets/images/kyoto.jpg" alt="Kyoto">
      <h3>Kyoto, Japan</h3>
      <p>Kyoto is rich in history and culture, with over 2,000 temples, shrines, and palaces.</p>
    </div>
    <div class="flight-offer">
      <img src="assets/images/machupicchu.jpg" alt="Machu Picchu">
      <h3>Machu Picchu, Peru</h3>
      <p>Machu Picchu is an ancient Inca citadel situated atop a mountain in Peru.</p>
    </div>
    <div class="flight-offer">
      <img src="/assets/images/maui.jpg" alt="Maui">
      <h3>Maui, Hawaii, USA</h3>
      <p>Maui is known for its volcanic landscapes, beautiful beaches, and rich flora and fauna.</p>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  
