<div class="offers-list">
    <div class="offer-item">
      <img src="/assets/images/flight_offer_image_1.jpg" alt="Flight Offer 1">
      <h2>Special offer for a flight to Paris</h2>
      <p>Price: $300</p>
      <a href="#">Details</a>
    </div>
    <div class="offer-item">
      <img src="/assets/images/flight_offer_image_2.jpg" alt="Flight Offer 2">
      <h2>Flight to Rome at a special price</h2>
      <p>Price: $250</p>
      <a href="#">Details</a>
    </div>
    <div class="offer-item">
        <img src="/assets/images/flight_offer_image_3.jpg" alt="Flight Offer 3">
        <h2>Flight to Oslo at a special price</h2>
        <p>Price: $350</p>
        <a href="#">Details</a>
      </div>
    <div class="offer-item">
        <img src="/assets/images/flight_offer_image_4.jpg" alt="Flight Offer 4">
        <h2>Flight to Belgrade at a special price</h2>
        <p>Price: $200</p>
        <a href="#">Details</a>
      </div>
      <div class="offer-item">
        <img src="/assets/images/flight_offer_image_5.jpg" alt="Flight Offer 5">
        <h2>Flight to Florida at a special price</h2>
        <p>Price: $1250</p>
        <a href="#">Details</a>
      </div>
      <div class="offer-item">
        <img src="/assets/images/flight_offer_image_6.jpg" alt="Flight Offer 6">
        <h2>Flight to Vienna at a special price</h2>
        <p>Price: $250</p>
        <a href="#">Details</a>
      </div>
  </div>
  
